body {
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 80px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.nav-bar{
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  border: 1px solid #dad7d7
}

.nav-bar *{
  display: inline;
  margin: auto;
  color: black;
  text-decoration: none;
}

.nav-bar ul{
  text-decoration: none;
}


.nav-bar li{
  margin: 20px;
  text-decoration: none;
}

.nav-bar li:hover{
  background-color: #a4b0be;
  height: 100%;
}

.form{
  background-color: #dff9fb;
	padding: 30px;
	width: 400px;
  display: block;
  margin: auto;
}

.form select{
  padding: 5px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
}

.btn{
  padding: 5px;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #130f40;
  color: white;
  cursor: pointer;
}

label{
  padding: 12px 12px 12px 0;
	display: inline-block;
}

.avatar {
  height: 96px;
  border-radius: 25px;
  margin: 10px;
}

.question{
  width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  background-color: #dff9fb; 
}

.list-btn{
  width: 590px;
  padding: 10px;
  border: 1px solid #dad7d7;
  background-color: #f5f5f5;
  margin: 0 auto;
  cursor: pointer;
}

.a-btn {
  width: 50%;
  margin: auto;
  align-items: center;
  cursor: pointer;
}

.questions-list{
  list-style-type: none;
  padding: 0;
}

.wrapper{
  display: flex;
  color: #ffffff;
}

.right{
  flex: 1;
}

.left{
  flex: 1
}

.author{
  background-color: #16a085;
  width: 580px;
  padding: 5px;
  margin: 0;
  border-radius: 3px;
  font-weight: bold;
}

.view-poll{
  display: inline-block;
  text-align: center;
  margin-left: 20%;
}

#title{
  font-weight: bold;
}

.question_field{
  padding: 5px;
  width: 580px;
  height: 30px;
  border-radius: 5px;
}

.btn-b{
  padding: 5px;
  width: 590px;
  height: 30px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #130f40;
  color: white;
  cursor: pointer;
}

.answer-form{
  display: inline-block;
  text-align: center;
  margin-left: 20%;
}

.voted{
  background-color: #55efc4;
}

.option-box{
  border: 2px solid darkcyan;
  border-radius: 5px;
  padding: 5px;
  width: 400px;
  margin-bottom: 2px;
}

.results{
  width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  background-color: #dff9fb;
}

.view-result{
  display: inline-block;
  text-align: center;
  float: right;
}

.status-bar{
  background-color: #16a085;
  border: 1px solid #dad7d7;
}

.status-bar-back{
  border: 1px solid #dad7d7;
  background-color: #ecf0f1;
}

.percentage{
  text-align: center;
  padding: 2px 175px;
}
